<section class="home" id="home">

    <div class="content">
        <h3>adventure is worthwhile</h3>
        <p>discover new places with us,adventure awaits</p>
        <a href="#" class="btn">discover more</a>
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="assets/Images and Videos/vid-1.mp4"></span>
        <span class="vid-btn" data-src="assets/Images and Videos/vid-2.mp4"></span>
        <span class="vid-btn" data-src="assets/Images and Videos/vid-3.mp4"></span>
        <span class="vid-btn" data-src="assets/Images and Videos/vid-4.mp4"></span>
        <span class="vid-btn" data-src="assets/Images and Videos/vid-5.mp4"></span>
    </div>

    <div class="video-container">
        <video src="assets/Images and videos/vid-1.mp4" id="video-slider" loop autoplay muted></video>
    </div>
<script src="assets/script.js"></script>
</section>