<section class="gallery" id="gallery">

    <h1 class="heading">
        <span>g</span>
        <span>a</span>
        <span>l</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
        <span>y</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/Images and videos/g-1.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/Images and videos/g-2.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/Images and videos/g-3.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/Images and videos/g-4.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/Images and videos/g-5.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/Images and videos/g-6.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/Images and videos/g-7.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/Images and videos/g-8.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/Images and videos/g-9.jpg" alt="">
            <div class="content">
                <h3>Amazing places</h3>
                <p>Random random random</p>
                <a href="#" class="btn">See more</a>
            </div>
        </div>


    </div>
    <script src="assets/script.js"></script>
</section>