<section class="services" id="services">

    <h1 class="heading">
        <span>s</span>
        <span>e</span>
        <span>r</span>
        <span>v</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
        <span>s</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-hotel">
                <h3>affordable hotels</h3>
                <p>Random random random random</p>
            </i>
        </div>
        <div class="box">
            <i class="fas fa-utensils">
                <h3>food and drink</h3>
                <p>Random random random random</p>
            </i>
        </div>
        <div class="box">
            <i class="fas fa-bullhorn">
                <h3>safety guide</h3>
                <p>Random random random random</p>
            </i>
        </div>
        <div class="box">
            <i class="fas fa-globe-asia">
                <h3>around the world</h3>
                <p>Random random random random</p>
            </i>
        </div>
        <div class="box">
            <i class="fas fa-plane">
                <h3>fastest travel</h3>
                <p>Random random random random</p>
            </i>
        </div>
        <div class="box">
            <i class="fas fa-hiking">
                <h3>adventure</h3>
                <p>Random random random random</p>
            </i>
        </div>
    </div>
</section>